.map-screen {
  display: flex;
  flex-direction: row;
  background-color: #1a1a1a;
  color: white;
  height: 100vh;
  position: relative;
  z-index: 0;
  justify-content: center;
  margin: 0px;
}

.soldier-list {
  background-color: #333;
  padding-right: 25px;
  padding-left: 20px;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.soldier-list ul {
  list-style: none;
  padding: 0;
}

.soldier-list li {
  margin: 5px 0;
  padding-right: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}


.map-container {
  
  flex-grow: 1;
  margin-top: 10px;
  z-index: 1;
}

.buttons button {
  display: block;
  margin-bottom: 5px;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
}

.buttons button:hover {
  background-color: #555;
}

.Overlay{
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.Buttons-Overlay{
  
  padding: 30px;
  position:absolute;
  bottom: 20px;
  left: 85%;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}
.navbar-Overlay{
  padding: 10px;
  position: absolute;
  bottom: 5%;
  left: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}
.Enemy-Overlay{
  margin-top: 1%;
  margin-left: 85%;
  padding-top: 750px;
  padding: 10px;
  position: absolute;
  left: center;
  color: white;
  border-radius: 5px;
  z-index: 1000;
}
.key{
  padding-left: 25px;
}
h3{
  size: 25rem;
}